<h1>Welcome to the Bachelorette</h1>
</br>
<%= link_to("Bachelorettes", bachelorettes_path) %>
</br>
</br>

<img src="http://ia.media-imdb.com/images/M/MV5BMjA4NDk1NTA1OV5BMl5BanBnXkFtZTcwMTIzMjQ4Ng@@._V1_SY317_CR8,0,214,317_AL_.jpg">
</br>

<%= link_to("Suitors", suitors_path) %>
</br>
